body{
    /* background-color: #F2E9E4; */
    /* background-color: #C9ADA7; */
    margin: 0%;
    width: 100%;
    height: auto;
    max-height: fit-content;

    background-color: #F2E9E4;
};
#root{
    
}